---
title: How to Boil a Chicken
author: William Clifford
description: Instructions for making chicken soup stock and lots of tasty chicken meat
---

<div class="fallback-message">
  <p>Your browser <b>doesn't support the features required</b> by
  impress.js, so you are presented with a simplified version of this
  presentation.</p>

  <p>For the best experience please use the
  latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<div id="slides">
  <span id="slide-number">1</span>/20
</div>
<div id="time">15</div>

<div id="impress">
  <!-- 01 -->

  <div id="start" class="step slide" data-x="-1000" data-y="-1500">
    <q>How to boil a chicken</q>
  </div>
  
  <!-- 02 -->

  <div class="step slide" data-x="0" data-y="-1500">
    
    <h1>Why?</h1>
    <ul>
      <li>Makes a gallon or more of the best soup stock ever</li>
      <li>Muscle meat is tender and &ldquo;buttery&rdquo;</li>
      <li>Cheap in dollar per unit-mass of food yeilded</li>
    </ul>

  </div>
  
  <!-- 03 -->

  <div class="step slide" data-x="1000" data-y="-1500">

    <img src="Images/2013-03-09 14.03.37.jpg" width="800" height="600"
	 alt="Thyme, celery, carrot, onion, ginger, garlic on cutting board with knife."/>
    <q>Optional ingredients</q>
  </div>

  <!-- 04 -->

  <div class="step slide" data-x="2000" data-y="-1500">

    <img src="Images/2013-03-09 14.19.18.jpg" width="800" height="600" 
	 alt="Me chopping the ingredients." />
  </div>

  <!-- 05 -->

  <div class="step slide" data-x="3000" data-y="-1500">

    <img src="Images/2013-03-09 14.20.50.jpg" width="800" height="600" 
	 alt='A "whole" chicken from the store.'/>
    <q>&ldquo;Whole&rdquo; chicken</q>

  </div>

  <!-- 06 -->

  <div class="step slide" data-x="4000" data-y="-1500">

    <img src="Images/2013-03-09 14.23.01.jpg" width="800" height="600" 
	 alt="Removing paper bag of guts." />

  </div>

  <!-- 07 -->

  <div class="step slide" data-x="5000" data-y="-1500">

    <img src="Images/2013-03-09 14.24.21.jpg" width="800" height="600"
	 alt="Chicken in pot."/>

  </div>

  <!-- 08 -->

  <div class="step slide" data-x="6000" data-y="-1500">

    <img src="Images/2013-03-09 14.24.55.jpg" width="800" height="600" 
	 alt="Washing hands in bleach water."/>

  </div>

  <!-- 09 -->

  <div class="step slide" data-x="7000" data-y="-1500">

    <img src="Images/2013-03-09 14.27.43.jpg" width="800" height="600" 
	 alt="Full pot, ready to cook."/>

  </div>

  <!-- 10 -->

  <div class="step slide" data-x="8000" data-y="-1500">

    <img src="Images/2013-03-09 18.11.50.jpg" width="800" height="600" 
	 alt="A pot of boiled chicken, simmered for 4 hours."/>
    <q>Four hours later</q>

  </div>

  <!-- 11 -->

  <div class="step slide" data-x="9000" data-y="-1500">

    <img src="Images/2013-03-09 18.42.34.jpg" width="800" height="600" 
	 alt="1.5 quart bowl, 4 cup measuring cup, strainer, 1 gallon jar, 2 forks."/>

  </div>

  <!-- 12 -->

  <div class="step slide" data-x="10000" data-y="-1500">

    <img src="Images/2013-03-09 18.44.03.jpg" width="800" height="600" 
	 alt="Getting a garlic clove from the pot."/>

  </div>

  <!-- 13 -->

  <div class="step slide" data-x="11000" data-y="-1500">

    <img src="Images/2013-03-09 18.46.55.jpg" width="800" height="600" 
	 alt="Gallon jug with garlic cloves carrots some onions."/>

  </div>

  <!-- 14 -->

  <div class="step slide" data-x="12000" data-y="-1500">
    <img src="Images/2013-03-09 18.48.16.jpg" width="800" height="600" 
	 alt="Getting the meat from a chicken wing."/>
    

  </div>

  <!-- 15 -->

  <div class="step slide" data-x="13000" data-y="-1500">
    <img src="Images/2013-03-09 18.51.46.jpg" width="800" height="600" 
	 alt="Some soft cartilage"/>
    <q>Some soft cartilage</q>

  </div>

  <!-- 16 -->

  <div class="step slide" data-x="14000" data-y="-1500">
    <img src="Images/2013-03-09 19.10.28.jpg" width="800" height="600" 
	 alt="The jug of bits for broth."/>


  </div>

  <!-- 17 -->

  <div class="step slide" data-x="15000" data-y="-1500">

    <img src="Images/2013-03-09 18.52.36.jpg" width="800" height="600" />

  </div>

  <!-- 18 -->

  <div class="step slide two-up" data-x="16000" data-y="-1500">

    <img 
       style="float:left;margin:0;padding:0;"
       src="Images/2013-03-09 19.26.20.jpg" width="450" height="600" />
    <img
       style="float:right;margin:0;padding:0;"
       src="Images/2013-03-09 19.28.23.jpg" width="450" height="600" />

  </div>

  <!-- 19 -->

  <div class="step slide two-up" data-x="17000" data-y="-1500">

    <img 
       style="float:left;margin:0;padding:0;"
       src="Images/2013-03-09 19.38.26.jpg" width="450" height="600" />
    <img
       style="float:right;margin:0;padding:0;"
       src="Images/2013-03-09 19.36.35.jpg" width="450" height="600" />

  </div>

  <!-- 20 -->

  <div class="step slide" data-x="18000" data-y="-1500">

    <q>@wobher</q>

  </div>

</div>
